.experts {
  @include margin-padding(bottom, 20px, null, null);

  @include media-queries(leptop, min) {
    @include flexbox;
  }

  &_foto {
    text-align: center;
    @include margin-padding(bottom, 5px, null, null);

    .experts_img {
      @include size(100%, auto);
      max-width: 378px;
    }
  }

  &_name {
    text-align: center;
    @include font(18px, null, bold);
    @include margin-padding(bottom, 20px, null, null);

    .experts_title {
      @include font(18px, #6f6f6f, bold);
    }

    .experts_func {
      @include font(14px, #6f6f6f, bold);
    }
  }
}