.header {
  @include position(absolute, $top: 0px, $left: 0px);
  @include size(100%, auto);
  @include flexbox;
  z-index: 2;

  @include media-queries(laptop, min) {
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
  }

  @include media-queries(laptop_L, min) {
    @include centerer;
    @include size(1200px, auto);
    transform: translate(-50%, 0);
    top: 0px;

    //fixed animation

    &.fixed-header {
      position: fixed;
      width: 100%;
      right: -72px;
      height: 200px;
      background: $basic-layout-color;
      -webkit-animation: header-animation .5s ease-in;
      -webkit-animation-fill-mode: forwards;
    }
  }
}

.logo {
  @include background-image("../../src/images/logo.png");
  @include size(71px, 40px);
  @include centerer;
  display: block;
  background-size: contain;
  text-indent: -9999em;
  top: 30px;

  @include media-queries(tablet, min) {
    @include size(171px, 97px);
    top: 65px;
  }

  @include media-queries(laptop, min) {
    @include margin-padding(all, 20px 0 0 20px, null, null);
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
  }
}

.phone {
  @include position(absolute, $top: 10px, $right: 10px);
  @include font(14px, #ffffff, bold);
  @include background-image("../../src/images/phone.png");
  @include margin-padding(null, null, left, 20px);
  background-size: 17px auto;
  text-decoration: none;

  @include media-queries(tablet, min) {
    @include margin-padding(null, null, left, 30px);
    font-size: 18px;
    background-size: 22px auto;
  }

  @include media-queries(laptop, min) {
    @include position(relative, $top: auto, $right: auto);
    @include margin-padding(null, null, right, 20px);
  }
}

//desktop nav
@include media-queries(laptop, min) {
  .menuToggle {
    @include flex-basis(100%);
  }

  .nav {
    @include flexbox;
    @include justify-content(flex-end);

    &__item {
      @include margin-padding(all, 0 20px, null, null);
    }

    &__link {
      @include font(18px, #ffffff, bold);
      @include margin-padding(null, null, top, 10px);
      @include transition(.4s);
      text-decoration: none;

      &:hover,
      &.active {
        border-top: 5px solid $basic-layout-color;
      }
    }
  }
}