.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.item-title {
  animation-delay: .8s;
}

.item-subtitle {
  animation-delay: 1s;
}

.item-button {
  animation-delay: 1.1s;
}


@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes header-animation {
  0% {
    top: -200px;
  }

  100% {
    top: -161px;
    width: 100%;
  }
}