$basic-text-color: #3f3e3e;
$basic-background: #f7f7f7;
$basic-layout-color: #2cbaa1;
$hover-color: #202121;
$header-color: #2cbaa1;
$bg2-color: #f5f5f7;
$menu-hover: #3ecdb4;
$hamburger-active-color: #232323;
$hamburger--color: #ffffff;