@include media-queries(laptop, max) {
  .menuToggle {
    @include position(fixed, $top: 10px, $left: 10px);
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;

    &__input {
      @include size(40px, 32px);
      @include position(absolute, $top: -7px, $left: -5px);
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;

      &:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background-color: $hamburger--color;
      }

      &:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      &:checked~ul {
        transform: none;
      }
    }

    span {
      display: block;
      @include size(33px, 4px);
      @include margin-padding(bottom, 5px, null, null);
      @include position(relative, $top: 0px, $left: 0px);
      background-color: $hamburger--color;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  .nav {
    @include position(absolute, $top: -10px, $left: -10px);
    @include size(100vw, 100vh);
    @include margin-padding(null, null, top, 40px);
    background-color: $menu-hover;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    .nav__item {
      text-align: center;

      .nav__link {
        @include font(18px, #ffffff, null);
        @include transition(.4s);
        @include margin-padding(null, null, all, 10px 0px);
        display: block;
        text-decoration: none;

        &:hover {
          background-color: $menu-hover;
        }
      }
    }
  }
}